# Byte-compiled / optimized / DLL files
/app/__pycache__/
*.py[cod]
*$py.class

# Ignore __pycache__ inside app directory
/app/__pycache__/
app/__pycache__/

app/__pycache__/
__pycache__/
/__pycache__/
gut